<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>Hello</h1>
      <ul>
        <% products.each do |p| %>
          <li><%= p['Title'] %></li>
        <% end %>
      </ul>
  </body>
</html>
